@font-face {
  font-family: 'Open_Sans';
  font-style: normal;
  src: url(../fonts/Open_sans/OpenSans-Regular.ttf); }

a {
  text-decoration: none; }

* {
  font-family: Open_Sans; }

h2, h3, h4, h5 {
  color: #28363d;
  text-transform: uppercase;
  text-align: center; }

h2, h4, h5 {
  font-weight: bold; }

.scrollbar {
  position: fixed;
  right: 20px;
  top: calc(50% + 60px);
  transform: translateY(-50%);
  z-index: 10; }
  .scrollbar a {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #a5abae;
    margin: 5px 0; }
    .scrollbar a.active {
      background-color: #ff8207; }

.wave {
  position: relative; }
  .wave:after {
    position: absolute;
    content: url("../img/wave.png");
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 6px;
    width: 31px; }

header {
  display: flex;
  height: 120px;
  background-color: #28363d;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all .3s;
  overflow: hidden; }
  header nav {
    font-size: 0px;
    margin-left: 49px; }
    header nav a {
      line-height: 120px;
      color: #ffffff;
      font-size: 14.47px;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      width: 140px;
      text-align: center;
      transition: all .3s;
      margin-left: 20px; }
      header nav a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: transparent;
        bottom: 0px;
        left: 0px;
        transition: background-color .3s; }
      header nav a:focus {
        background-color: #1e292f; }
        header nav a:focus:after {
          background-color: #ff8207; }
      header nav a:hover:after {
        background-color: #ff8207; }
  header .contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
    header .contact .phones {
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: space-between;
      margin: auto 0;
      transform: translateY(0px);
      transition: all .3s;
      width: 230px; }
      header .contact .phones a {
        color: #ff8207;
        font-weight: bold; }
    header .contact .link-modal {
      text-transform: uppercase;
      font-size: 16px;
      display: none;
      width: 200px;
      height: 40px;
      box-sizing: border-box;
      border: 2px solid #ff8207;
      color: #ff8207;
      border-radius: 8px;
      text-align: center;
      line-height: 36px;
      margin: auto 15px;
      transition: background-color .3s, color .3s; }
      header .contact .link-modal:hover {
        background-color: #ff8207;
        color: #ffffff; }
  header.header-scroll {
    height: 80px; }
    header.header-scroll nav a {
      line-height: 80px; }
    header.header-scroll .contact {
      justify-content: center;
      height: 100%; }
      header.header-scroll .contact .phones {
        margin: auto 0;
        transform: translateY(-100px);
        display: none; }
      header.header-scroll .contact .link-modal {
        display: inline-block; }

main {
  padding-top: 120px;
  transition: padding-top .3s; }
  main .slider {
    padding: 0px;
    height: calc(100vh - 120px);
    min-height: 1000px;
    border-bottom: 4px solid #ff8207;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative; }
    main .slider > a {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      width: 55px;
      height: 55px;
      display: inline-block;
      border-radius: 50%;
      background-color: rgba(40, 54, 61, 0.6);
      transition: background-color .3s; }
      main .slider > a .ar {
        position: relative;
        width: 100%;
        height: 100%; }
        main .slider > a .ar:after, main .slider > a .ar:before {
          position: absolute;
          content: "";
          display: block;
          height: 6px;
          width: 15px;
          background-color: #fff;
          top: 50%;
          left: 50%;
          margin-left: -3px; }
        main .slider > a .ar:after {
          transform: rotate(-45deg);
          transform-origin: 3px center; }
        main .slider > a .ar:before {
          transform: rotate(225deg);
          transform-origin: 3px center; }
      main .slider > a:hover {
        background-color: #28363d; }
    main .slider .owl-carousel {
      text-align: center;
      height: 100%;
      position: relative; }
      main .slider .owl-carousel .owl-stage-outer {
        height: 100%; }
        main .slider .owl-carousel .owl-stage-outer .owl-stage {
          height: 100%; }
      main .slider .owl-carousel .owl-item {
        height: 100%;
        background-image: url("../img/slide_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        main .slider .owl-carousel .owl-item > div {
          width: 840px;
          margin: 0 auto; }
      main .slider .owl-carousel .owl-dot {
        width: 18px;
        height: 18px;
        background-color: #28363d;
        border-radius: 50%;
        margin: 0 6px;
        transition: background-color .3s; }
      main .slider .owl-carousel .owl-dots {
        position: absolute;
        bottom: 202px;
        left: 50%;
        transform: translateX(-50%); }
        main .slider .owl-carousel .owl-dots .active {
          background-color: #ff8207; }
      main .slider .owl-carousel .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1220px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between; }
      main .slider .owl-carousel .owl-next {
        transform: rotate(180deg); }
      main .slider .owl-carousel .owl-prev, main .slider .owl-carousel .owl-next {
        display: inline-block;
        overflow: hidden;
        width: 46px;
        height: 80px;
        position: relative;
        opacity: .6;
        transition: opacity .3s; }
        main .slider .owl-carousel .owl-prev:after, main .slider .owl-carousel .owl-prev:before, main .slider .owl-carousel .owl-next:after, main .slider .owl-carousel .owl-next:before {
          content: "";
          position: absolute;
          display: block;
          height: 8px;
          width: 59px;
          background-color: #ff8207;
          top: 50%;
          left: 0%;
          border-radius: 8px; }
        main .slider .owl-carousel .owl-prev:after, main .slider .owl-carousel .owl-next:after {
          transform: translateY(-50%) rotate(45deg);
          transform-origin: 4px center; }
        main .slider .owl-carousel .owl-prev:before, main .slider .owl-carousel .owl-next:before {
          transform: translateY(-50%) rotate(-45deg);
          transform-origin: 4px center; }
        main .slider .owl-carousel .owl-prev:hover, main .slider .owl-carousel .owl-next:hover {
          opacity: 1; }
      main .slider .owl-carousel h2 {
        font-size: 48.06px;
        position: relative;
        margin: 145px 0 50px 0;
        letter-spacing: 16.5px; }
      main .slider .owl-carousel p {
        font-size: 24.03px;
        line-height: 36px;
        margin: 50px 0 170px 0;
        color: #28363d; }
      main .slider .owl-carousel .separ {
        position: relative;
        height: 16px;
        width: 826px;
        margin: 0 auto; }
        main .slider .owl-carousel .separ:after, main .slider .owl-carousel .separ:before {
          content: "";
          height: 2px;
          width: 400px;
          background-color: #28363d;
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
        main .slider .owl-carousel .separ:after {
          left: 0px; }
        main .slider .owl-carousel .separ:before {
          right: 0px; }
        main .slider .owl-carousel .separ .sq {
          height: 8px;
          width: 8px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          background-color: #28363d;
          position: absolute; }
      main .slider .owl-carousel a {
        font-size: 32px;
        color: #ffffff;
        display: inline-block;
        background-color: #ff8207;
        width: 400px;
        height: 80px;
        line-height: 80px;
        border-radius: 8px;
        transition: background-color .3s; }
        main .slider .owl-carousel a:hover {
          background-color: #ce7307; }
  main section {
    text-align: center;
    padding: 60px 0; }
    main section h3 {
      font-size: 48px;
      line-height: 44px;
      letter-spacing: 6px;
      margin: 0px; }
    main section p {
      font-size: 17.96px;
      line-height: 35.94px;
      color: #8198a0;
      width: 845px;
      display: inline-block;
      margin: 60px 0; }
  main .works {
    border-bottom: 2px solid #b5c4c4;
    background-image: url("../img/our_work_bg.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat; }
    main .works .exampls {
      display: flex;
      flex-wrap: wrap;
      max-width: 1440px;
      justify-content: center;
      margin: 0 auto; }
      main .works .exampls .item {
        min-width: 460px;
        height: 320px;
        margin: 7px 10px;
        background-image: url("../img/project_bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden; }
        main .works .exampls .item .exampl-descr {
          text-align: left;
          box-sizing: border-box;
          padding: 0px 60px;
          background-color: rgba(255, 255, 255, 0.8);
          width: 100%;
          height: 0px;
          position: absolute;
          bottom: 0px;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: hidden;
          transition: height .3s; }
          main .works .exampls .item .exampl-descr h4 {
            text-align: left;
            display: block;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0px;
            margin: 20px 0 0 0; }
            main .works .exampls .item .exampl-descr h4.wave:after {
              left: 0px;
              transform: translateX(0%);
              bottom: -6px; }
          main .works .exampls .item .exampl-descr span {
            text-transform: uppercase;
            color: #7b7b7b;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 20px; }
        main .works .exampls .item:hover .exampl-descr {
          height: 100px; }
  main .reasons {
    max-width: 1440px;
    margin: 0 auto; }
    main .reasons p {
      margin-bottom: -0px; }
    main .reasons .reas-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .reasons .reas-block .item {
        display: block;
        max-width: 235px;
        margin: 60px 55px 0; }
        main .reasons .reas-block .item h5 {
          font-size: 16px;
          margin: 30px 0 15px;
          letter-spacing: 1px; }
        main .reasons .reas-block .item span {
          font-size: 16px;
          line-height: 30px;
          color: #8198a0; }
  main .feedback {
    padding-bottom: 100px; }
    main .feedback .text-block {
      max-width: 940px;
      padding: 0 230px;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      position: relative; }
      main .feedback .text-block .to-top {
        position: absolute;
        bottom: -91px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        border: 3px solid #ff8207;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        transition: .3s; }
        main .feedback .text-block .to-top.visible {
          visibility: visible;
          opacity: 1; }
        main .feedback .text-block .to-top .ar {
          height: 40px;
          width: 4px;
          background-color: #ff8207;
          border-radius: 2px;
          display: inline-block;
          line-height: 56px;
          position: relative; }
          main .feedback .text-block .to-top .ar:after, main .feedback .text-block .to-top .ar:before {
            background-color: #ff8207;
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 20px;
            border-radius: 2px;
            top: 0;
            transform-origin: center top; }
          main .feedback .text-block .to-top .ar:before {
            transform: rotate(-45deg);
            left: -1px; }
          main .feedback .text-block .to-top .ar:after {
            left: 1px;
            transform: rotate(45deg); }
      main .feedback .text-block address {
        min-width: 320px;
        color: #999999;
        font-style: normal;
        font-size: 18px; }
        main .feedback .text-block address span {
          font-size: 24px;
          text-transform: uppercase;
          color: #ff8207;
          display: inline-block;
          margin: 11px 0 9px;
          font-weight: bold; }
          main .feedback .text-block address span:nth-of-type(1) {
            margin-top: 0; }
      main .feedback .text-block form {
        min-width: 540px;
        overflow: hidden;
        font-size: 0px; }
        main .feedback .text-block form br {
          line-height: 0px; }
        main .feedback .text-block form label {
          text-transform: uppercase;
          color: #28363d;
          font-size: 24px;
          font-weight: bold;
          display: inline-block;
          margin: 10px 0 5px; }
          main .feedback .text-block form label:nth-of-type(1) {
            margin-top: 0; }
        main .feedback .text-block form input {
          width: 100%;
          border: none;
          font-size: 18px; }
        main .feedback .text-block form input[type='text'], main .feedback .text-block form input[type='email'] {
          border: none;
          display: block;
          overflow: hidden;
          line-height: 24px;
          background-image: linear-gradient(to bottom, transparent, transparent 23px, #e5e5e5 0);
          background-repeat: repeat-y;
          background-color: transparent;
          background-size: 100% 24px; }
        main .feedback .text-block form input::-webkit-input-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form input::-moz-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form input:-moz-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form input:-ms-input-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form label[for="photo"] {
          display: inline-block;
          width: 50px;
          height: 60px;
          background-color: #ff8207;
          border-radius: 8px;
          position: relative;
          cursor: pointer;
          margin: 16px 15px 5px 0;
          transition: background-color .3s; }
          main .feedback .text-block form label[for="photo"]:hover {
            background-color: #ce7307; }
          main .feedback .text-block form label[for="photo"]:after, main .feedback .text-block form label[for="photo"]:before {
            content: "";
            position: absolute;
            background-color: #fff;
            top: 50%;
            left: 50%; }
          main .feedback .text-block form label[for="photo"]:after {
            width: 16px;
            height: 2px;
            transform: translate(-50%, -50%); }
          main .feedback .text-block form label[for="photo"]:before {
            width: 2px;
            height: 16px;
            transform: translate(-50%, -50%); }
        main .feedback .text-block form .photo-name {
          text-transform: uppercase;
          color: #28363d;
          font-size: 24px;
          font-weight: bold;
          display: inline-block;
          height: 60px;
          max-width: 425px;
          line-height: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 16px 0 5px; }
        main .feedback .text-block form textarea::-webkit-input-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form textarea::-moz-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form textarea:-moz-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form textarea:-ms-input-placeholder {
          font-style: italic;
          color: #c0c0c0; }
        main .feedback .text-block form textarea {
          resize: none;
          width: 100%;
          border: none;
          display: block;
          font-size: 18px;
          overflow: hidden;
          line-height: 24px;
          background-image: linear-gradient(to bottom, transparent, transparent 23px, #e5e5e5 0);
          background-repeat: repeat-y;
          background-color: transparent;
          background-size: 100% 24px; }
        main .feedback .text-block form #recapch {
          max-width: 300px; }
        main .feedback .text-block form img {
          float: left;
          margin-top: 35px; }
        main .feedback .text-block form input[type='submit'] {
          display: inline-block;
          width: 220px;
          height: 60px;
          background-color: #ff8207;
          color: #ffffff;
          border-radius: 8px;
          float: right;
          margin-top: 15px;
          cursor: pointer;
          transition: background-color .3s; }
          main .feedback .text-block form input[type='submit']:hover {
            background-color: #ce7307; }
  main.main-scroll {
    padding-top: 60px; }

footer {
  font-size: 0px;
  color: #ffffff; }
  footer .footer-inf {
    background-image: url("../img/footer_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }
  footer .inf {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    height: 250px;
    margin: 0 auto; }
  footer .wave:after {
    top: 60px;
    bottom: auto; }
  footer span {
    font-size: 14px; }
  footer h5 {
    font-size: 16px;
    color: white;
    margin: 0; }
  footer .discl, footer .location, footer .social {
    margin-top: 70px; }
    footer .discl div, footer .discl span, footer .location div, footer .location span, footer .social div, footer .social span {
      position: absolute;
      top: 86px;
      left: 0;
      width: 100%; }
  footer .discl, footer .location {
    width: 230px; }
  footer .social {
    text-align: center;
    width: 140px; }
    footer .social .soc_link {
      display: flex;
      justify-content: space-around; }
  footer .discl {
    text-align: left; }
    footer .discl.wave:after {
      left: 0;
      transform: translateX(0); }
  footer .location {
    text-align: right; }
    footer .location.wave:after {
      left: auto;
      right: 0;
      transform: translateX(0); }
    footer .location h5 {
      text-align: right; }
  footer .copy {
    height: 60px;
    border-bottom: 2px solid #ff8207;
    background-color: #1e292f;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    font-size: 14px; }
